#logo-div {
    height: 40%; //pra centralizar precisa ter altura
    display: flex;
    align-items: center; //vertical
    justify-content: center; //horizontal

    h3{
        text-align: center;
    }
}
